@model DemoCore.BLL.Models.ViewModels.MailVM
@{
    ViewData["Title"] = "Index";

}


<center>
    <h2 style="color:red">Welcome To Mail Page</h2>
</center>


<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>@TempData["Msg"]</strong>
</div>

<form  asp-controller="Mail" asp-action="SendEMail"   class="form-group">

    <div class="row">


        <div class="col-lg-5">

            <label asp-for="Title">Title</label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"> </span>
        </div>
    </div>


    <br /> <br />

    <div class="row">


        <div class="col-lg-5">

            <label asp-for="Message">Message</label>
            <textarea asp-for="Message" rows="4" class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-danger"> </span>
        </div>
    </div>
    <br /> <br />


    <center>


        <input type="submit" value="Send" class="btn btn-primary" />

        <input type="reset" value="Cancle" class="btn btn-danger" />
    </center>

</form>




