
@model DemoCore.BLL.Models.ViewModels.DeleteRoleVM  
@{

    ViewBag.Title = "Delete Role";

}


<!DOCTYPE html>
<html>


<body class="signup-page">
    <div class="signup-box">

        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back To Roles</a>
        <br />        <br />


        <div class="card">
            <div class="body">
                <form asp-controller="Admin" asp-action="DeleteRole" method="POST">
                    <div class="msg">Delete Role</div>

                 



                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input class="form-control" readonly placeholder="Enter Role Name" asp-for="Id">
                        </div>
                        
                    </div>




                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input class="form-control" readonly  asp-for="Name">
                        </div>
                        
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>

   

</body>

</html>

