
@model DemoCore.BLL.Models.ViewModels.EmployeeVM
@{
    ViewData["Title"] = "Create";

}

<center>
    <h2 style="color:red">Create New Employee</h2>
</center>


<div asp-validation-summary="All" class="text-danger"></div> 


<form asp-action="Create" asp-controller="Employee" class="form-group" enctype="multipart/form-data">



    <div class="row">
        <div class="col-lg-5">
            <label> Name </label>
            <input type="text" asp-for="EmployeeName" class="form-control" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
        </div>

    </div>
    <br /> <br />


    <div class="row">
        <div class="col-lg-5">
            <label> Salary </label>
            <input type="text" asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
    </div>
    <br /> <br />

    <div class="row">
        <div class="col-lg-5">
            <label> Address </label>
            <input type="text" asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <br /> <br />
    <div class="row">
        <div class="col-lg-5">
            <label> Email </label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <br /> <br />

    <div class="row">
        <div class="col-lg-5">
            <label> HireDate </label>
            <input type="date" asp-for="HireDate" class="form-control" />
            <span asp-validation-for="HireDate" class="text-danger"></span>
        </div>
    </div>

    <br /> <br />


    <div class="row">
        <div class="col-lg-5 custom-control custom-checkbox ">

            <input type="checkbox" class="custom-control-input form-control" asp-for="IsActive" />
            <label class="custom-control-input" asp-for="IsActive">Is Active?</label>

        </div>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>

    <br /> <br />


    <div class="row">
        <div class="col-lg-5">
            <label> Notes </label>
            <textarea asp-for="Notes" class="form-control" rows="4"></textarea>

            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
    </div>

    <br /> <br />
    <br /> <br />

    <div class="row">
        <div class="col-lg-5">
            <label asp-for="DepartmentId">Department</label>

            <select asp-for="DepartmentId" asp-items="@(SelectList)ViewBag.department">
                <option>Choose Department</option>
            </select>

            <span class="text-danger" asp-validation-for="DepartmentId"></span>

        </div>
    </div>


    <br /> <br />
    <div class="row">
        <div class="col-lg-5">
            <label>Country</label>
            <select id="CountryList" class="form-control" asp-items="(SelectList)ViewBag.country">
                <option>Choose Country</option>
            </select>


        </div>
    </div>

    <br /> <br />

    <div class="row">
        <div class="col-lg-5">
            <label>City</label>
            <select id="CityList" class="form-control">
                <option>Choose City</option>
            </select>


        </div>
    </div>


    <br /> <br />
    <div class="row">
        <div class="col-lg-5">
            <label>District</label>
            <select asp-for="DistrictId" class="form-control">
                <option>Choose District</option>
            </select>


        </div>
    </div>
    <br /> <br />
    <div class="row">
        <div class="col-lg-5">
            <label> Upload Photo </label>
            <input  asp-for="Photo" class="form-control" />
            
        </div>
    </div>
    <br /> <br />
    <div class="row">
        <div class="col-lg-5">
            <label> Upload CV </label>
            <input  asp-for="CV" class="form-control" />
           
        </div>
    </div>
    <br /> <br />

    <center>

        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="reset" value="Cancle" class="btn btn-danger" />
        <a asp-controller="Employee" asp-action="Index" class="btn btn-success"> Back To Employee </a>

    </center>


</form>

@section MicrosoftValidation {
    
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

 <script>

     $(function () {

         $("#CountryList").change(function () {


             $("#CityList").empty();
             $("#CityList").append("<option>Choose City</option>");


             var CountryId = $("#CountryList option:selected").val();

             $.ajax({

                 type: "POST",
                 url: "/Employee/GetCityDataByCountryId",
                 data: { CtryId: CountryId },

                 success: function (res) {
               
                     $.each(res, function(i,e) {

                         //$("#CityList").append("<option value='" + e.Id + "'>" + e.CityName + "</option>");

                         $("#CityList").append(`<option value="${e.Id}">${e.CityName} </option>`);

                         $("#CityList").selectpicker('refresh');
                     });
                 }


             });
         });
         


     });

     $(function () {
         
         $("#CityList").change(function () {

             $("#DistrictId").empty();
             $("#DistrictId").append("<option>Choose District</option>");
       

             var CityId = $("#CityList option:selected").val();

             $.ajax({

                 
                 type: "POST",
                 url: "/Employee/GetDistrictByCityId",
                 data: { CtyId: CityId },
                 success: function (res) {
               
                     $.each(res, function (i, e) {

                         $("#DistrictId").append("<option value='" + e.Id + "'>" + e.DistrictName + "</option>");
                         $("#DistrictId").selectpicker('refresh');
                     });
                 }
             });

         });


     });



 </script>
}






