
@model DemoCore.BLL.Models.ViewModels.EmployeeVM
@{
    ViewBag.Title = "Employee Delete";

}
<center>
    <h2 style="color:red">Delete Employee</h2>
</center>

<h1>@Model.EmployeeName</h1>





<div asp-validation-summary="All" class="text-danger"></div> @*Using Validation*@

@*

    I Use [asp-action="Create" asp-controller="EmployeeController"] because When I Click
    On Button Reset or Submit  need to go to Controller/Action To See If This Data are [true]
    or Not


*@

<form asp-controller="Employee" asp-action="Delete" class="form-group">



    <input type="hidden" asp-for="Id" class="form-control" />

    <input type="hidden" asp-for="PhotoUrl" class="form-control" />

    <input type="hidden" asp-for="CvUrl" class="form-control" />


    <br />
    <div>
        <label>  Name </label>

        <input type="text" asp-for="EmployeeName" class="form-control" disabled="disabled" />

    </div>




    @*
        Using asp-for to told the Input this Data Belong to who
           Instead Of [Name]
    *@

    <br />

    <div>
        <label> Salary </label>
        <input type="text" asp-for="Salary" class="form-control" disabled="disabled" />

    </div>


    <br />



    <div>


        <label> Email </label>
        <input type="email" asp-for="Email" class="form-control" disabled="disabled" />

    </div>

    <br />

    <br />

    <div>


        <label> Address </label>
        <input type="text" asp-for="Address" class="form-control" disabled="disabled" />
    </div>

    <br />

    <br />




    <div class="custom-control custom-checkbox">
        <input type="checkbox" asp-for="IsActive" class="custom-control-input" disabled="disabled">
        <label class="custom-control-label" asp-for="IsActive"> Is Active</label>
    </div>

    <br /><br />



    <div>
        <label> Notes </label>
        <textarea asp-for="Notes" disabled="disabled" class="form-control" rows="4"></textarea>
    </div>


    <br /> <br />

    <div>
        <label> Hire Date </label>

        <input type="text" asp-for="HireDate" disabled="disabled" class="form-control" />

    </div>


    <br /><br />

    <div>
        <label asp-for="DepartmentId">Department</label>

        <input type="text" asp-for="Department.DepartmentName" class="form-control" disabled="disabled" />
    </div>


    <br /><br />






    <center>

        <input type="submit" value="Delete" class="btn btn-danger" />


        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"> Edit Employee </a>

        <a asp-controller="Employee" asp-action="Index" class="btn btn-success"> Back To Employee </a>

    </center>


</form>




