
@model DemoCore.BLL.Models.ViewModels.EmployeeVM
@{
    ViewBag.Title = "Details";

}


<h1>@Model.EmployeeName</h1>





<div asp-validation-summary="All" class="text-danger"></div> @*Using Validation*@

@*

    I Use [asp-action="Create" asp-controller="EmployeeController"] because When I Click
    On Button Reset or Submit  need to go to Controller/Action To See If This Data are [true]
    or Not


*@

<form asp-controller="Employee" asp-action="Details" class="form-group">



    <img src="~/Files/Imags/@Model.PhotoUrl" width="200" height="300" />
    <br />     <br />


    <a href="~/Files/Docs/@Model.CvUrl"> DownLoad CV</a>
    <br />     <br />

    <label>Employee Id</label>
    <input type="text" asp-for="Id" class="form-control" readonly="readonly" />

    <br />
    <br />


    @*<label>Employee Id</label>*@
    <input type="hidden" asp-for="Id" class="form-control" disabled="disabled" />

    <br />
    <label> Employee Name </label>



    @*
        Using asp-for to told the Input this Data Belong to who
           Instead Of [Name]
    *@
    <input type="text" asp-for="EmployeeName" class="form-control" disabled="disabled" />

    <br />


    <label> Salary </label>
    <input type="text" asp-for="Salary" class="form-control" disabled="disabled" />


    <br />

    <br />


    <label> Email </label>
    <input type="text" asp-for="Email" class="form-control" disabled="disabled" />


    <br />

    <br />


    <label> Address </label>
    <input type="text" asp-for="Address" class="form-control" disabled="disabled" />


    <br />

    <br />

    <input type="checkbox" class="custom-control-input " form-control"" asp-for="IsActive" />
    <label class="custom-control-input" asp-for="IsActive">Is Active?</label>

    <br />

    <br />


    <label> Notes </label>
    <textarea asp-for="Notes" class="form-control" rows="4" disabled></textarea>


    <br />

    <br />


    <label> Hire Date </label>
    <input type="text" asp-for="HireDate" class="form-control" disabled="disabled" />


    <br />

    <br />


    <label asp-for="DepartmentId">Department</label>
    <select asp-for="DepartmentId" disabled asp-items="@(SelectList)ViewBag.department">
        <option>Choose Department</option>
    </select>
    <br />


    <center>

        <input type="submit" value="Delete" class="btn btn-danger" />
        <input type="reset" value="Cancle" class="btn btn-danger" />
        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"> Edit Employee </a>

        <a asp-controller="Employee" asp-action="Index" class="btn btn-success"> Back To Employee </a>

    </center>


</form>




