@model DemoCore.BLL.Models.ViewModels.EmployeeVM
@{
    ViewBag.Title = "Employee Edit";

}

<h2>Edit Employee </h2>





<div asp-validation-summary="All" class="text-danger"></div> @*Using Validation*@

@*

    I Use [asp-action="Create" asp-controller="DepartmentController1"] because When I Click
    On Button Reset or Submit  need to go to Controller/Action To See If This Data are [true]
    or Not


*@

<form asp-controller="Employee" asp-action="Edit" method="post" class="form-group">


    <img src="~/Files/Imags/@Model.PhotoUrl" width="100" height="100" />
    <br /> <br />

    <a href="~/Files/Docs/@Model.CvUrl">DownLoad CV</a>


    <div class="row">
        <div class="col-lg-5">
            <label asp-for="EmployeeName"> Name</label>
            <input type="text" asp-for="EmployeeName" class="form-control" />
            <span class="text-danger" asp-validation-for="EmployeeName"></span>
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-5">
            <label asp-for="Salary"> Salary</label>
            <input type="text" asp-for="Salary" class="form-control" />
            <span class="text-danger" asp-validation-for="Salary"></span>
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-5">
            <label asp-for="Address"> Address</label>
            <input type="text" asp-for="Address" class="form-control" />
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-5">
            <label asp-for="Email"> Email</label>
            <input type="email" asp-for="Email" class="form-control" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
    </div>


    <br /><br />

    <div class="row">
        <div class="col-lg-5">
            <label asp-for="HireDate">Hire Date</label>
            <input type="date" asp-for="HireDate" class="form-control" />
            <span class="text-danger" asp-validation-for="HireDate"></span>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-lg-5">
            <label asp-for="Notes">Notes</label>
            <textarea asp-for="Notes" class="form-control" rows="4"></textarea>
            <span class="text-danger" asp-validation-for="Notes"></span>
        </div>
    </div>

    <br /><br />


    <div class="row">
        <div class="col-lg-5">
            <label asp-for="DepartmentId">Department</label>
            <select asp-for="DepartmentId" class="form-control" asp-items="@ViewBag.department">
                <option>Choose The Department</option>
            </select>
            <span class="text-danger" asp-validation-for="DepartmentId"></span>
        </div>
    </div>

    <br /><br />

    <div class="custom-control custom-checkbox row">
        <div class="col-lg-5">
            <input type="checkbox" asp-for="IsActive" class="custom-control-input">
            <label class="custom-control-label" asp-for="IsActive"> Is Active</label>
            <span class="text-danger" asp-validation-for="IsActive"></span>
        </div>
    </div>


    <br />
    <center>
        <input type="submit" value="Edit" class="btn btn-primary" />
        <a asp-controller="Employee" asp-action="Index" class="btn btn-success"> Back To Department </a>

    </center>

</form>

@section MicrosoftValidation {
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



